$color-background-black: rgba(black, 0.4);
$color-background-white: rgba(white, 0.35);
$color-border: #193150;
$color-calculate-button: #0ebeffa8;
$color-clear-button: #fb2727bf;
$color-link: rgb(185, 208, 252);
$color-gradient-left: #1b3d66;
$color-gradient-right: #9f74a1;

@function scale($ideal-value) {
    @return clamp(320px / 375 * $ideal-value, $ideal-value / 375 * 100vw, $ideal-value * 430px / 375);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: monospace;
}

body {
    display: grid;
    place-items: center;

    height: 100vh;

    background: linear-gradient(
        to bottom right, 
        $color-gradient-left, 
        $color-gradient-right
    );

    color: white; 
    text-align: center;
}


.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr repeat(5, 1fr);
    grid-gap: 10px;
    grid-template-areas:
        "display display display display"
        "clear clear divide multiply"
        "seven eight nine subtract"
        "four five six add"
        "one two three equals"
        "zero zero decimal equals";

    // Ideal WxH 364px by 488px @ 375px width
    height: scale(488);
    width: scale(364);
    padding: 6px;
    border: 2px $color-border solid;
    border-radius: 6px;
        
    background: url(https://images.unsplash.com/photo-1528722828814-77b9b83aafb2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) top/cover no-repeat;     
}

$id-list: zero, one, two, three, four, five, six, seven, eight, nine, equals, add, subtract, multiply, divide, decimal, clear;

@each $key in $id-list {
    ##{$key} {
        grid-area: #{$key};
    }
}

.display {
    grid-area: display;
    
    // max-height: 124px;
    padding: 6px;
    border-radius: 6px;

    background: $color-background-black;
    
    text-align: right;

    #currentValue {
        margin-bottom: scale(4);

        font-size: scale(50);
    }

    #expression {
        font-size: scale(16);

        overflow-wrap: break-word;
    }
}

.button {
    border-radius: 6px;
    border: 1px solid transparent;
    
    background-color: $color-background-black;
    
    font-size: scale(30);
    color: white;
    
    transition: border 250ms;
    
    cursor: pointer; 


    &:hover {
        border: 1px solid white;
    }

    &#equals {
        background-color: $color-calculate-button;
    }

    &#clear {
        background-color: $color-clear-button;
    }

    &#add,
    &#subtract,
    &#multiply,
    &#divide {
        background: $color-background-white;
    }
}

footer {
    margin-top: scale(30);
    font-size: scale(12);
    
    a,
    a:visited {
        color: $color-link;
        text-decoration: none;
    }
}